/* COLORS */

/* Nord */
@define-color dark1  #2E3440;
@define-color dark2  #3B4252;
@define-color dark3  #434C5E;
@define-color dark4  #4C566A;

@define-color light1 #D8DDE9;
@define-color light2 #E5E9F0;
@define-color light3 #ECEFF4;


@define-color frost1 #8FBCBB;
@define-color frost2 #88C0D0;
@define-color frost3 #81A1C1;
@define-color frost4 #5E81AC;


@define-color red    #BF616A;
@define-color orange #D08770;
@define-color yellow #EBCB8B;
@define-color green  #A3BE8C;
@define-color purple #B48EAD;

* {
	font-size: 20px;
	font-family: Fira Code;
}

window#waybar {
	background: @dark4;
	color: @light2;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @dark1;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @dark4;
	background: @dark1;
}

#mode,
#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#cpu,
#battery,
#disk,
#tray {
	background: @dark1;
}

#workspaces button {
	padding: 0 2px;
	color: @light2;
}
#workspaces button.focused {
	color: @frost2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @dark3;
	border: @dark3;
	padding: 0 3px;
}

#pulseaudio {
	color: @frost3;
}
#network {
	color: @frost1;
}
#network.disconnected {
    color: @red;
}
#cpu {
	color: @purple;
}
#battery {
	color: @green;
}
#disk {
	color: @yellow;
}

#clock,
#pulseaudio,
#cpu,
#battery,
#disk,
#network {
	padding: 0 10px;
}
